$banner-height: 40px;

.v-window{
    width: 100%;
    height: calc(100% - $taskbar-height);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 14px;

    &__banner{
        width: 100%;
        height: $banner-height;
        color: white;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(85, 51, 255);


        &_type{
            font-weight: 500;
            font-size: 18px;
            margin-left: 10px;
        }

        &_icons{
            cursor: pointer;

            img{
                margin: 6px;
                padding: 5px;
                background-color: white;
                width: 30px;
            }
        }
    }

    &__content{
        height: calc(100% - $banner-height);
        width: 100%;
        background-color: white;
        //padding: 2px;
        border: 6px solid rgb(85, 51, 255);
        border-top: 0;
    }
}