.c-folder{
    padding: 10px;
    height: 100%;

    &__iconsWrapper{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, $icon-width);
        grid-template-rows: repeat(auto-fill, 100px);
        grid-auto-flow: row;
        grid-gap: 10px;
        box-sizing: border-box;
        margin-top: 20px;
    }

    &__btn{
        border: none;
        padding: 10px;
        background-color: rgb(85, 51, 255);
        font-size: 14px;
        color: white;
        margin: 5px;
        margin-left: auto;
        border-radius: 10px;
    }

    .c-icon{
        background-color: unset;
        
        &__text{
            color: black;
        }

        &__img--edit{
            display: none;
        }

        &:hover{
            .c-icon__img{
                display: none;

                &--edit{
                    display: block;
                }
            }
        }

       
    }
}