.c-inputText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__save{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 5px;
    }

    &__fileName{
        padding: 10px;
        font-size: 14px;
        border-radius: 10px;
    }

    &__saveBtn{
        width: fit-content;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #00b33c;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: 500;
        margin: 5px;
        
    }

    &__textarea{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 16px;
        text-align: left;
        resize: none;
    }
}